*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.encabezado{
    background: black;
    height: 87px;
    padding: 5px 200px 0;
    border-bottom: 6px solid #1B93D4;
}
.suscribete{
  background: black;
  height: 87px;
  padding: 5px 200px 0;
}

.diseño {
  background-color: #FFFFFF;
  background-position: center;
  background-size: cover;
  height: 500px;
}

nav {
  float: right;
}

nav ul li{
    list-style:none;
    display:inline;
  }
  
nav ul li a{
    color: #FFFFFF;
    margin: 10px;
    text-decoration: none;
    float: left;
    font-size: 20px;
    align-items: center;
    padding: 15px 31px;
    font-weight: 300;
}

  h1{
    color: #FFFFFF;
    text-decoration: none;
    float: left;
    padding: 15px  31px;
    text-align: left;
    font-weight: 300;
    font-size: 33px;
  }

  h1 span{
      color: #1B93D4;
  }

  h2{
    color: #FFFFFF;
    text-align: center;
    padding-top: 153px;
    font-size: 500%;
    font-weight: 300;
  }
  
  
  .superior {
    background-image: url(../images/cabecera.jpg);
    background-position: center;
    background-size: cover;
    height: 550px;

}


.P2{
    color: white;
    text-align: center;
    font-size: 200%;
    padding: 0px;
    margin: 50px;
    font-weight: 300;
  }

.P3{
  color: black;
  text-align: center;
  font-size: 100%;
  margin: 10px;
}

  #correo{
    padding: 10px 25px;
    color: #FFFFFF;
    margin-top: 17px;
    float: right;

   }
  button{
    float: right;
    padding: 12px 25px;
    color: #FFFFFF;
    background-color: #E44D26;
    margin-top: 15px;
  }
  .azul{
    color: #1B93D4;
  }

  .final{
    background: #1B93D4;
    height: 58px;
    padding: 5px 200px 0;
  }

 .nombre{
  color: #FFFFFF;
  font-weight: 300;
  font-size: 20px;
  margin-left: 568px;
  }

.cuadro1{
    margin-left: 12%;
    float: left;
    padding: 20px;
    font-size: 20px;
}

.cuadro2{
  margin-left: 10%;
  float: left;
  padding: 20px;
  font-size: 20px
}

.cuadro3{
  margin-left: 10%;
  float: left;
  padding: 20px;
  font-size: 20px;  
}

.centro{
  display: flex; 
  align-items: center;
}

.titulos{
  text-align: center;
}