*{
    margin: 0%;
    padding: 0%;
}
header{
    display: flex;
    justify-content: center;
    height: 100px; 
    align-items: center;
    background-color: #F3F2F0;
}
article{
    width: 25%;
    height: 80vh; 
    display: flex;
    justify-content: flex-start;
    background-color: rgb(225, 225, 225);
    padding: 10px; 
}

main{
    display: flex; 
    justify-content: space-between;
    height: 5%;
}
nav{
    display: flex; 
    justify-content: flex-start;
    width: 50%;
    flex-direction: column; 
    background-color: rgb(197, 195, 195);
    padding: 10px;
}
aside{
    display: flex; 
    justify-content: space-between;
    width: 25%;
    flex-direction: column; 
    background-color: rgb(211, 206, 206);
    padding: 10px;
}

footer{
    display: flex;
    justify-content: center;
    height: 100px; 
    align-items: center;
    background-color: #F3F2F0;
}